<div class="sidebar">
    
    <div class="sidebar-section">
        {% if page.image %}
            <img class="featured-image img-fluid" src="{{ site.baseurl }}/{{ page.image }}" alt="{{ page.title }}">
        {% endif %}

        {% if page.program-date %}
        <h5><span>Upcoming Program</span></h5>
        <h4 class="card-text">Date   : {{page.program-date}}</h4>
        <h4 class="card-text">Time   : {{page.program-time}}</h4>
        <h4 class="card-text"></h4>Venue : {{page.program-venue}}</h4>
        {% endif %}

        {% if page.program-price %}
        <h5><span>Program Price</span></h5>
        <h4>Program Price : INR 6,500/-</h4>
        (Includes lunch, refreshments, material & certificate)
        <h4>Registration closes on 22nd Jun 2019</h4>
        <p>Payment details you will receive via email on registration.</p>
        {% endif %}
    </div>
        
    <div class="sidebar-section">
    </div>
            
</div>