<div class="sidebar">
    
    <div class="sidebar-section">
        <h5><span>Newsletter</span></h5>
        {% include newsletter.html %}
    </div>
        
    <div class="sidebar-section">
        <h5><span>Useful</span></h5>
        <ul style="list-none;">
            <li></li><a class="dropdown-item" href="{{ site.baseurl }}/leadership/">Leadership Coaching</a></li>
            <li></li><a class="dropdown-item" href="{{ site.baseurl }}/nlp/">Neuro Linguistic Programming</a></li>
            <li></li><a class="dropdown-item" href="{{ site.baseurl }}/cpi/">Conversational Persuasion</a></li>
        </ul>
    </div>
        
    <div class="sidebar-section">
    </div>
            
</div>